version: '2'
services:
  homeassistant:
    container_name: home-assistant
    image: homeassistant/home-assistant:stable
    volumes:
      - ./.docker/data:/config
      - ./custom_components/evnex:/config/custom_components/evnex
      - ./.docker/services:/etc/services.d/home-assistant
    restart: always
    ports:
      - "127.0.0.1:8123:8123"
